#gambar_atas{
height:auto;
width:980px;
margin-left:auto;
margin-right:auto;
opacity:0.75;
}
a{
float:left;
margin-right:30px;
}

#menu{
height:50px;
width:970px;
margin-top:10px;
font-family:"Times New Roman", Times, serif;
float:left;
color:#0033CC;
background-color:#FFFFFF;
opacity:0.5;
padding-left:10px;
}

#isi{
height:auto;
width:980px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
text-align:left;
}


#text{
margin-top:20px;
margin-bottom:20px;
height:370px;
width:700px;
float:right;
opacity:0.5;
background-color:#FFFFFF;
color:#003300;
padding-left:10px;
border-radius:10px;
}



#poto{
border:20px;
float:left;
margin-top:20px;

}

#poto img{
border-radius:10px;
}

#bawah{
text-align:center;
height:80px;
width:980px;
float:left;
background-color:#FFF;
opacity:0.5;
border-top-left-radius:20px;
border-top-right-radius:20px;
}
