#gambar_atas{
height:auto;
width:980px;
margin-left:auto;
margin-right:auto;
opacity:0.75;
}
a{
float:left;
margin-right:30px;
}

#menu{
height:50px;
width:970px;
margin-top:10px;
font-family:"Times New Roman", Times, serif;
float:left;
color:#0033CC;
background-color:#FFFFFF;
opacity:0.5;
padding-left:10px;
}

#isi{
height:auto;
width:980px;

margin-left:auto;
margin-right:auto;
margin-top:10px;
text-align:left;
overflow:hidden;
}

#login{
height:auto;
width:auto;
margin-left:auto;
margin-right:20px;
margin-top:10px;
text-align:left;
float:right;

}
#text{
margin-top:20px;
margin-bottom:20px;
height:350px;
width:550px;
float:right;
opacity:0.5;
background-color:#FFFFFF;
color:#003300;
}

#text h4{
font-family:Arial, Helvetica, sans-serif;
margin:30px;
text-shadow:#666666;
text-transform:capitalize;
}

#poto{
float:left;
margin-top:20px;
}

#bawah{
height:full;
width:970px;
float:left;
background-color:#FFFFFF;
opacity:0.5;
padding-left:10px;
border-top-left-radius:20px;
border-top-right-radius:20px;
}
